<div class="page-header">
	<h2>
		<i class="fa fa-phone" style="color: #f00"></i>
		Twilio API
	</h2>
</div>

<div class="btn-group btn-group-justified">
	<a href="http://twilio.github.io/twilio-node/" class="btn btn-primary" target="_blank">
		<i class="fa fa-check-square-o"></i>
		Twilio Node
	</a>
	<a href="https://apigee.com/console/twilio" class="btn btn-primary">
		<i class="fa fa-laptop"></i>
		API Console
	</a>
	<a href="https://www.twilio.com/docs/api/rest" class="btn btn-primary">
		<i class="fa fa-fork"></i>
		REST API
	</a>
</div>

<br>

<div class="row">
	<div class="col-sm-6">
		<form action="POST" role="form">
			<h1>{{_csrf}}</h1>
			<input type="hidden" name="_csrf" value="{{_csrf}}">
			<div class="form-group">
				<label class="control-label">Number to text</label>
				<input type="text" name="number" class="form-control" autofocus="true">
			</div>
			<div class="form-group">
				<label class="control-label">Message</label>
				<input type="text" name="message" class="form-control">
			</div>
			<button class="btn btn-default" type="submit">
				<i class="fa fa-location-arrow"></i>
				Send
			</button>
		</form>
	</div>
</div>
